html {
	width: 100%;
}

h2 {
	text-align: center;
}


header {
	width: 100%;
	height: 150px;
	background-color: #21C95B;
}

input {
	border-radius: 7px;
	font-size: 1em;
	border: 2px solid silver;
}	

p {
	width: 150px;
	font-size: 1.25em;

}

#auth {

}

#authd {
	width: 20%;
	background-color: #fff;
}


