* {
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	height: 100%;
	padding: 1%;
}

h3,h4 {
	font-weight: normal;
}

textarea {
	width: 616px;
	height: 100px;
	border: 2px solid silver;
	border-radius: 7px;
	margin-top: 10px;
}

#common {
	width:44em;
	height: auto;
	border-radius: 7px;
	border: 2px solid silver;
	padding: 10px;
	margin-top: 20px;
}

#tab1 {
	width: 40em;
	height: 120px;
	border: 1px solid black;
	border-radius: 7px;
	padding: 5px;
}	

#text1 {
	width: 150px;
	height: 20px;
	background-color: #fff;
	position: relative;
	top: 9px;
	right: 240px;
}

#tab {
	width: 40em;
	height: 360px;
	border: 1px solid black;
	border-radius: 7px;
	padding: 5px;
}

#text {
	width: 120px;
	height: 20px;
	background-color: #fff;
	position: relative;
	top: 9px;
	right: 255px;
}

#input {
	width: 270px;
	height: 30px;
	margin-top: 10px;
}

#id {
	text-align: left;
	padding-top: 30px;
	padding-left: 10px;
	float: left;
}


#name {
	text-align: left;
	padding-top: 30px;
	position: relative;
	left: 40px
}

#visit {
	text-align: left;
	padding-top: 30px;
	padding-left: 10px;
	float: left;
}

#inputvisit {
	width: 230px;
	height: 25px;
}

#selecttown {
	width: 250px;
	height: 36px;
}

#grade {
	width: 35px;
	height: 20px;
	text-align: center;
	font-size: 18px;
	font-weight: normal;
}

#town {
	text-align: left;
	padding-top: 30px;
	position: relative;
	left: 81px;
}


#slider {
	height: 50px;
	text-align: left;
}

#sliderinput {
	width: 230px;
	margin-left: 25px;
}

#p0 {
	width: 20px;
	height: 20px;
	position: relative;
	top: 20px;
	left: 10px;
}

#p10 {
	width: 20px;
	height: 20px;
	position: relative;
	bottom: 23px;
	left: 260px;
}

#Textotzv {
	text-align: left;
	padding-left: 10px;
}